@import "tailwindcss";

@theme {
  --default-font-family: Poppins;
  --color-violet-100: hsl(257, 27%, 26%);
  --color-cyan: hsl(180, 66%, 49%);
  --color-red: hsl(0, 87%, 67%);
  --color-gray-100: hsl(0, 0%, 75%);
  --color-grayish-200: hsl(257, 7%, 63%);
  --color-blue-100: hsl(255, 11%, 22%);
  --color-violet-200: hsl(260, 8%, 14%);
}
